//! **************************************************************************
// Written by: Map P.20131013 on Tue May 07 20:12:23 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk_24" LOCATE = SITE "M21" LEVEL 1;
COMP "led" LOCATE = SITE "D24" LEVEL 1;
SCHEMATIC END;

