

NET "clk_24" LOC = M21;
NET "led" LOC = D24;

# PlanAhead Generated physical constraints 

NET "freq_out[2]" LOC = M24;
NET "freq_out[1]" LOC = N23;
NET "freq_out[0]" LOC = N24;
NET "button_down" LOC = AC24;
NET "button_up" LOC = AA23;
